branca
contextily
dateutils
folium>=0.16.0
geopandas==0.14.*
matplotlib>=3.8
momepy
networkx
numpy
pandas>=2.2.0
plotly>=5.22.0
pyogrio
python-dateutil
seaborn>=0.13.2
xyzservices
ipyleaflet>=0.19.1
mapclassify
shapely
osmnx>=2.0.0b0
osm2geojson
