branca
contextily
dateutils
folium
geopandas
ipywidgets
matplotlib
momepy
networkx
numpy
pandas
plotly
pyogrio
python-dateutil
seaborn
tqdm
xyzservices
ipykernel
jupyter-client<8
notebook
pyzmq<25
ipyleaflet
shapely
osmnx>=2.0.0b0
osm2geojson