branca
contextily
dateutils
folium
geopandas
matplotlib
momepy
networkx
numpy
pandas>=2.2.0
plotly
pyogrio
python-dateutil
seaborn
xyzservices
ipyleaflet
mapclassify
shapely
osmnx>=2.0.0b0
osm2geojson
